@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap");

.app {
  display: grid;
  place-content: center;
  place-items: center;
  grid-auto-columns: 1fr;
}

.app > * {
  border: 3px solid black;
}

/* header section */
.header {
  display: grid;
  grid-template-columns: 350px 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(146, 146, 238);
}
.left-section {
  display: grid;
}
.left-section > * {
  grid-column: 1/2;
  grid-row: 1/2;
}
.left-section > h1 {
  justify-self: center;
  align-self: end;
  margin: 0px 15px;
  color: white;
}
.header img,
.header picture {
  max-width: 350px;
  max-height: 350px;
}

.about {
  background-color: white;
  height: 300px;
  width: 450px;
  padding: 0px 20px 0px 3px;
}
.about .links {
  justify-content: end;
}

/* projects section */

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 10px 20px;
  max-width: 805px;
}

.project {
  border: 3px solid black;
  width: 250px;
}

.project img {
  width: 100%;
}

.project > div.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 1rem;
}

/* contact section */

.contact {
  display: flex;
}

.contact img {
  height: 300px;
}

@media (max-width: 838px) {
  /* header */
  .header {
    display: block;
  }
  .header img,
  .header picture {
    width: clamp(270px, 45vw, 400px);
    height: clamp(270px, 45vw, 400px);
  }
  .left-section {
    float: left;
  }
  .left-section > h1 {
    position: relative;
    align-self: start;
    justify-self: end;
    left: 130px;
  }
  .about {
    width: clamp(270px, 45vw, 400px);
    height: clamp(200px, 45vw, 250px);
    margin-left: 35vw;
    margin-top: 200px;
  }
  .links {
    display: none;
  }
  /* projects */
  .projects {
    max-width: 530px;
  }
}

@media (max-width: 562px) {
  .projects {
    max-width: 250px;
  }
}
