@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
body,
html {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

.app {
  display: grid;
  place-content: center;
  place-items: center;
  grid-auto-columns: 1fr;
}
picture,
img {
  display: block;
}

/* .app > * {
  border: 3px solid black;
} */

img.icon {
  height: 30px;
}
h1,
h2 {
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 38px;
}
h2 {
  font-size: 26px;
}

.app {
  font-family: "Roboto", serif;
}
/* header section */
.header {
  display: grid;
  grid-template-columns: 350px 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(146, 146, 238);
}
.left-section {
  display: grid;
}
.left-section > * {
  grid-column: 1/2;
  grid-row: 1/2;
}
.left-section > h1 {
  justify-self: center;
  align-self: end;
  margin: 0px 15px;
  color: white;
  z-index: 3;
}
.header-image {
  position: relative;
  max-width: 350px;
  max-height: 350px;
  box-shadow: 2px 0px 5px 3px rgb(0, 0, 0, 0.2);
  z-index: 2;
}

.about {
  background-color: white;
  height: 300px;
  width: 450px;
  padding: 0px 20px 0px 3px;
  box-shadow: 2px 0px 5px 3px rgb(0, 0, 0, 0.2);
}
.about .links {
  justify-content: end;
}

/* projects section */

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}

.work > h1 {
  margin-bottom: 15px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 60px 40px;
  max-width: 1130px;
}

.project {
  box-sizing: border-box;
  width: clamp(300px, calc(33.333% - 27px), 350px);
  padding-bottom: 30px;
  box-shadow: 0px 2px 5px 3px rgb(0, 0, 0, 0.3);
  padding-bottom: 60px;
  min-height: 380px;
}

.project img {
  width: 100%;
}

.project > div.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.project > p {
  padding: 0px 10px;
  font-size: 20px;
  color: rgb(0, 0, 0, 0.8);
}

.links {
  display: flex;
  gap: 1rem;
}

/* contact section */

.contact {
  display: flex;
  padding: 0px 20px;
}

.contact-image {
  height: 250px;
  margin: 20px 0px;
}

.prompt {
  width: 280px;
}

@media (max-width: 1034px) {
  /* header */
  .header {
    display: block;
  }
  img.header-image {
    width: clamp(270px, 45vw, 400px);
    height: clamp(270px, 45vw, 400px);
  }
  .left-section {
    float: left;
  }
  .left-section > h1 {
    position: relative;
    align-self: start;
    justify-self: end;
    left: 130px;
  }
  .about {
    width: clamp(270px, 45vw, 400px);
    height: clamp(200px, 45vw, 250px);
    margin-left: 35vw;
    margin-top: 200px;
  }
  /* .header .links {
    display: none;
  } */
  /* projects */
  .projects {
    max-width: 740px;
  }

  .project {
    width: clamp(240px, calc(50% - 20px), 350px);
  }
}

@media (max-width: 660px) {
  /* header */
  .header {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
  }
  .left-section {
    float: none;
  }
  .left-section > h1 {
    position: static;
    align-self: end;
    margin-bottom: 20px;
    justify-self: start;
    width: 7ch;
  }
  img.header-image {
    width: clamp(200px, 80vw, 400px);
    height: auto;
    max-width: none;
    max-height: none;
  }
  .about {
    margin: 0;
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: none;
  }
  .about > h2 {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .about > p {
    margin: 0;
  }

  /* projects */
  .projects {
    width: min-content;
  }
  .project {
    width: clamp(240px, 80vw, 350px);
  }
  .work > h1 {
    align-self: center;
  }
  /* contact */
  .contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px;
    width: 100%;
  }
  .contact-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
  }
  .contact-info {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .contact-info > h2 {
    align-self: center;
  }
}
